<% unless user_signed_in? %>
	<div class="hero-unit">
		<h1>Symbolic Systems</h1>
		<p>
			Desarrollo de negocios de base tecnologica.
		</p>
		<p>
		
		

          <%= link_to raw("<i class=\"icon-cogs \"> Leer Más</i>"),about_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>