<div class="container">
  <div class="row">
    <div class="span2">
      <img src="http://img.photobucket.com/albums/v234/marfue179/2012-08-27185035-1_zps321b2ffe.jpg" alt="" class="img-rounded">
    </div>
      <div class="span4">
        
          <p>Marcelo Fuentes S.M.</p>
          <small><cite title="Source Title">Santiago, Chile <i class="icon-map-marker"></i></cite></small>
        
        <p>
        <i class="icon-envelope"></i> marcelo@healthme.cl <br>
        <i class="icon-globe"></i> www.healthme.cl <br>
        <i class="icon-laptop"></i> Ingeniero Comercial, Desarrollador.
        </p>
       </div>
</div>